@font-face {
  font-family: Script;
  src: url('./media/fonts/Epic\ Christmas.ttf');
}
@font-face {
  font-family: HeadScript;
  src: url('./media/fonts/Lovely\ Christmas.ttf');
}

.App {
  font-family: Script;
  text-align: center;
  background-image: url('./media/img/xmasStretchBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(22, 22, 78);
  height: 100vh;
}


/* html {
  background-color: rgb(22, 22, 78);
} */


.imgScroll {
  /* position: absolute; */
  background-image: url('./media/img/xmasScroll.png');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  width: 32vw;
  min-height: 92vh;
  margin: 0 auto;
}

.imgScroll h1 {
  font-family: HeadScript;
  padding-top: 38%;
  margin: 0;
}

.imgScroll p, .imgScroll hr {
  margin: 0 22%;
}

.imgScroll p {
  padding: 3%;
  line-height: 1.5;
  font-size: 1.2em;
}

.btnPresent {
  position: absolute;
  background-image: url('./media/img/Red_Present_Box.png');
  background-size: cover;
  width: 128px;
  height: 128px;
  right: 20px;
  bottom: 20px;
  color: white;
}

.btnPresent h3 {
  padding-top: 50%;
  text-shadow: 2px 2px 2px black;
}

.btnPresent:active {
  filter: invert();
}

/* Snow Animations */
@keyframes fall {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      top: 100vh;
      opacity: 1;
  }
}

@keyframes sway {
  0% {
      margin-left: 0;
  }
  25% {
      margin-left: 50px;
  }
  50% {
      margin-left: -50px;
  }
  75% {
      margin-left: 50px;
  }
  100% {
      margin-left: 0;
  }
}

.effectsContainer {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 5s;
  opacity: 1;
}

.snow, .star {
  animation: fall ease-in infinite, sway ease-in-out infinite;
  position: absolute;

}

.snow {
  color: rgb(217, 244, 255);
}

.star {
  color: rgb(255, 215, 56);
}

.effectsContainer.hide {
  opacity: 0;
  pointer-events: none;
}